.project-card {
    width: 20rem;
    height: 30rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    opacity: 0.85;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(126, 177, 140, 0.2);

}

.project-img-box {
    width: 100%;
    height: 40%;
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: 0 20px 30px rgb(0, 0, 0);
}

.project-text-box {
    padding: 0.5rem;
    height: 40%;
    transition: transform 0.2s, box-shadow 0.2s;
}

.project-cover {
    height: auto;
}

.github-icon {
    width: 2rem;
    height: 2rem;
}
