.App {
    position: relative;
    width: 100%;
}
body {
    background: black;
}

html {
    scroll-behavior: smooth;
}
.gradient-transition {
    position: absolute;
    width: 100%;
    height: 500px;
    background: linear-gradient(180deg, rgb(25, 25, 25) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.violet-gradient {
    background: #FF7F50;
    background: linear-gradient(-90deg, #FF7F50 0%, rgba(60, 51, 80, 0) 100%);
    background: -webkit-linear-gradient(
            -90deg,
            #FF7F50 0%,
            rgba(60, 51, 80, 0) 100%
    );
}

.custom-drop-down-menu {
    background: -webkit-linear-gradient(to top, #050505, #000000);
    background: linear-gradient(to top, #000000, #000000);
}

.custom-navbar-bg {
    background: -webkit-linear-gradient(180deg, #050505, #000000);
}


/*
*** scroll bar ***
*/

/* The whole scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Handle color */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Handle color on hover */
}

/* The whole scrollbar */
* {
    scrollbar-width: thin; /* Can be 'thin' or 'auto' */
    scrollbar-color: #a2a2a2 #505050; /* Handle color Track color */
}




